<section class="bg-dark text-light p-3 text-center text-sm-start">
  <div class="container">
    <div class="d-sm-flex align-items-center justify-content-between">
      <div>
        <h1>
          Enjoy ebooks and audiobooks for <span class="text-warning">free</span>
        </h1>
        <p class="lead my-4">
          Ebooks, audiobooks, magazines and more are available for free through
          your local library or school
        </p>
        <button
          class="btn btn-primary btn-lg"
          data-bs-toggle="modal"
          data-bs-target="#enroll"
        >
          Start The Enrollment
        </button>
      </div>
      <img
        class="img-fluid w-50 d-none d-sm-block"
        src="../../../assets/img/showcase.svg"
        alt=""
      />
    </div>
  </div>
</section>
