<nav class="navbar navbar-expand-lg navbar-fixed-top bg-primary navbar-dark">
  <div class="container">
    <a class="navbar-brand" href="/">
      <img
        src="../../../assets/img/logo.JPG"
        alt="Online Library"
        width="140"
        height="36"
      />
    </a>

    <form class="d-flex mx-auto form-custom" role="search">
      <input
        class="form-control me-2"
        type="search"
        placeholder="Search by title or author"
        aria-label="Search"
      />
      <button class="btn btn-success" type="submit">Search</button>
    </form>

    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navmenu"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navmenu">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a href="/" class="nav-link active">Home</a>
        </li>
        <li class="nav-item">
          <a href="browse" class="nav-link">Browse Collections</a>
        </li>
        <li class="nav-item">
          <a href="login" class="nav-link">Log In</a>
        </li>
        <li class="nav-item">
          <a href="register" class="nav-link">Sign Up</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
